<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>
<body style="color: dodgerblue; text-align: center;">
    <div style="width: 500px; height: 350px; border: 3px solid #00b0ff; border-radius: 25px; color: #FEFEFE; margin: 0 auto; font-family: cursive;">
        <h1 style="color: dodgerblue; margin: 0 auto;">
            Lottee
        </h1>
        <p style="color: dodgerblue;">
            {{ text }}
        </p>
        {{ link }}
        <div style="width: 200px; margin: 80px auto 0px;">
            <a href="{{ link }}" style="color: dodgerblue; text-decoration: none;">
                <div style="width: 200px; background-color: dodgerblue; color: #FEFEFE; border-radius: 10px; padding: 10px; text-align: center;">
                    {{ button_text }}
                </div>
            </a>
        </div>

    </div>
</body>
</html>